<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <!-- Paramètre de la page (permet d'adapter la largeur à la taille de la fenêtre) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Titre de la page -->
    <title>Suggestions de Vêtements - WeatherWear</title>

    <!-- Style de la page -->
    <link rel="stylesheet" href="/static/css/clothes_suggested.css">

    <!-- Favicons sous tout les formats -->
    <link rel="icon" type="image/png" href="/static/utils/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/utils/images/favicon.svg" />
    <link rel="shortcut icon" href="/static/utils/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/utils/images/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="WeatherWear" />
    <link rel="manifest" href="/static/utils/images/site.webmanifest" />
</head>
<body>
    <!-- Importation du header -->
    {% include 'models/header.html' %}

    <!-- Container de la page -->
    <div class="container">

        <!-- Menu de navigation -->
        <div class="tab">
            <button class="tablinks" onclick="window.location.href='/clothes_suggested'">Vêtements et Météo</button>
            <button class="tablinks" onclick="window.location.href='/clothes_list'">Ma Garde-Robe</button>
            <button class="tablinks" onclick="window.location.href='/user_modify'">Gérer le Compte</button>
        </div>

        <!-- Affichage des informations météo en ligne avec une icône pour les conditions -->
        <div class="weather-info">
            <img src="{{ weather_icon_url }}" alt="Icone météo">
            <span>{{ weather_condition }}, {{ temperature }}°</span>
            <button id="refresh-suggestions" class="refreshbutton" onclick="refreshSuggestions()">🔃</button>
        </div>
        

        <!-- Grille affichant les vêtements de la Garde-Robe -->
        <div class="clothes-frame">
            <!-- S'il y a des vêtements à suggérer -->
            {% if suggested_clothes %}
                <!-- Pour chacune des catégories/vêtements dans les catégories afficher: -->
                {% for category, clothes in suggested_clothes.items() %}
                    <div class="category">
                        <!-- Le titre de la catégorie (Vestes/Haut/bas...) -->
                        <h3 class="category-title">{{ category }}</h3>
                        <div class="category-clothes">
                            <!-- Pour chaque vêtement dans ceux proposés afficher :  -->
                            {% for clothe in clothes %}
                                <div class="clothescard">
                                    <!-- Image en base64  -->
                                    <img src="data:image/jpeg;base64,{{ clothe.cloth_image }}">
                                    <!-- Informations  -->
                                    <div class="clothescard-info">
                                        <h4>{{ clothe.subtype }}</h4>
                                        <p>Texture : {{ clothe.texture }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            <!-- Sinon afficher : -->
            {% else %}
                <p>Aucune suggestion de vêtements disponible.</p>
            {% endif %}
        </div>
        
    </div>
    
    <!-- Importation du footer -->
    {% include 'models/footer.html' %}
    
    <!-- JS de la page -->
    <script src="/static/js/clothes_suggested.js"></script>
</body>
</html>
